{% extends '__base__.html' %}

{% block title %}{% endblock %}

{% block beforehead %}



{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            
        </article>

        <hr class="uk-article-divider">

  

        <h3>最新评论</h3>
         {% for stock in data %}
            <li>
                <article class="uk-comment">
         
                    <div class="uk-comment-body">
                    {{ stock }}
                    </div>
                </article>
            </li>
        
            {% endfor %}
        
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
             
                <h3></h3>
            </div>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a href="#">编程</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">思考</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">读书</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
